<p>
  In your template:
</p>

<pre class="code">
\{{#facebook-feed}}
\{{/facebook-feed}}

</pre>

<p>
  Result:
</p>

<div class="text_center">
  {{#facebook-feed}}
    <div class="fb-page" data-href="https://www.facebook.com/emberjavascript" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/emberjavascript"><a href="https://www.facebook.com/emberjavascript">Ember.js</a></blockquote></div></div>
  {{/facebook-feed}}
</div>
